* {
  margin: 0;
  padding: 0;
}

.box {
  width: 90%;
  margin: 25px auto 0;
}

.classItem {
  display: inline-block;
  width: 300px;
  height: 385px;
  margin: 0 auto;
}

.className {
  font-size: 16px !important;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto !important;
}

.desc {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto !important;
}

.teacher {
  margin-left: 0px !important;
  margin-top: 8px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: blue;
}

.btn {
  margin-left: 8px !important;
  border: 1px solid !important;
}

.link {
  text-decoration: none;
  color: black;
}
